*, *:before, *:after {
  box-sizing: border-box;
}
body{
  background-color: #f8fafb;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}
strong{
  color: #000000;
  font-weight: 700;
}
a:hover{
  color: #000;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #09d3ac;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}
.custom-table th {
  font-weight: 700!important;
  font-size: 17px;
}
.header-logo {
  height: 57px;
  padding: 0 !important;
}
.bg-withImage {
  background-image:none !important;  
  background-color: transparent;
}
.bg-lightcolor{
  background-image:none !important;  
  background-color: transparent;
}
.header {
  background-color: #556ee6;
  color: white;
  padding: 24px 0;
  margin: 0 !important;
  height: auto;
  font-size: 15px;
  font-weight: 400;  
}
.header a{
  margin: 0px 0 0 20px;
  color: #d9defa;
  display: inline-block;
}
.header .btn{
  box-shadow: none;
  margin: 5px 0 0 0;
  text-transform: capitalize;
  font-size: 15px;
  color: #d9defa;
}
.header a:hover{
  color: #000000;
}
.header .profile-link{
  float: right;
}
.sub-header{
    background-color: rgb(85, 110, 230);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.07),inset 0px 8px 10px 0px rgba(0, 0, 0, 0.07);
    margin: 24px 0 -24px 0;
    padding: 15px 0 14px 0;  
    font-size: 13px;
    text-transform: uppercase;
}

.card{
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.06);  
    margin-bottom: 40px;
}
.card-body {
  padding: 2.25rem 1.25rem;
}
.card-padding .card-body {
  padding: 2.25rem 2.80rem;
}
.card-body h3, .sub-heading, .card-body h3 strong{
    font-size: 17px;
    font-family: "Roboto";
    color: rgb(85, 110, 230) !important;
    font-weight: bold !important;
    text-transform: uppercase;
    line-height: 1.2;
    border-bottom: 1px solid #bcbcbc;
    padding: 0 0 7px 0;
    margin: 0 0 20px 0;
}
.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea, .form-control, textarea{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(225, 225, 225);
    border-radius: 3px;
    background-color: rgba(19, 178, 180, 0);  
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(112, 112, 112);    
    margin-bottom: 10px;
}
select{
  border-style: solid;
  border-width: 2px;
  border-color: rgb(225, 225, 225);
  border-radius: 3px;
  background-color: rgba(19, 178, 180, 0);
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(112, 112, 112);
  margin-bottom: 10px;
  padding: .375rem .75rem;
}
.md-form input:not([type]):focus:not([readonly]), .md-form input[type="text"]:not(.browser-default):focus:not([readonly]), .md-form input[type="password"]:not(.browser-default):focus:not([readonly]), .md-form input[type="email"]:not(.browser-default):focus:not([readonly]), .md-form input[type="url"]:not(.browser-default):focus:not([readonly]), .md-form input[type="time"]:not(.browser-default):focus:not([readonly]), .md-form input[type="date"]:not(.browser-default):focus:not([readonly]), .md-form input[type="datetime"]:not(.browser-default):focus:not([readonly]), .md-form input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), .md-form input[type="tel"]:not(.browser-default):focus:not([readonly]), .md-form input[type="number"]:not(.browser-default):focus:not([readonly]), .md-form input[type="search"]:not(.browser-default):focus:not([readonly]), .md-form input[type="search-md"]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
  border-width: 2px !important;
  border-color: #556ee6;
  box-shadow: none;  
}
.form-all > label {
    font-size: 14px;
    font-family: "Roboto";
    color: #333333;
    line-height: 1.2;  
    font-weight: 700 !important;
    margin-bottom: 0;
}
.md-form .form-control{
  padding: .3rem 0;
}
.card-body a {
  color: #556ee6;
}
.card-body a:hover{
  background: none;
  color: #000;
}
.md-form label{
  transform: translateY(7px);
  left: 12px;
}
.font-weight-bold{
  color: #000;
}
.btn {
  margin: 0 15px 15px 0;
  padding: .40rem 1.14rem;
  border-radius: 3px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.28);  
  font-size: 13px;  
  text-transform: capitalize;
}
.btn-default{ 
  background-color: rgb(85, 110, 230) !important;  
  color: #fff !important;
}
.btn-secondary{ 
  background-color:#32448c !important;  
  color: #fff !important;
}
.btn-primary{ 
  background-color:#993441 !important;  
  color: #fff !important;
}
.btn-danger{
  background-color: #ea4d60 !important;
  color: #fff !important;
}
.suspend-btn{
  background-color: #993441 !important;
  color: #fff !important;
}
.btn-success{  
  background-color: #34ba6d !important;
}
.btn-success:hover {
  color: #fff;
  background-color: #00e25b;
}
.btn.disabled, .btn:disabled {
  opacity: 1;
  background-color: #bdbdbd !important;
  color: #747474 !important;
  box-shadow: none;
}
.suspended-row .btn-default{
  background-color: #32448c !important;
}
.suspended-row .btn-success{
  background-color: #287d4b !important;
}
.suspended-row .btn-danger{
  background-color: #993441 !important;
}
.text-top{
  margin: -50px 0px 0px;
  padding: 0px 0px 20px;
}
.program-detail-sub-header span {
  color: #5f5f5f;
}
.file-upload{
  background-color: #dfdfdf !important;
  color: #292929 !important;
  box-shadow: none;
  font-size: 15px;
}
.file-upload-name{
  position: relative;
  top: -7px;
  color: #666666 !important;
}
.footer{
  background-color: #556ee6;
  font-size: 14px
}
.file-box .btn{
  box-shadow: none;
  border-radius: 4px;
  font-size: 15px;
  padding: 4px 10px 4px 10px;
}
.file-box .btn input{
  width: 100%;
}
.file-box p{
  font-weight: normal;
}
.file-box .vertical-center > * {
  transform: translate(0, -17%);
}
.profile-pic{
  float: right;

}
.profile-pic .profile-name{
  float: left;
  margin: 10px 10px 0 0;
}
.profile-pic .profile-img{
  background: #e1e1e1;
  height: 43px;
  width: 43px;
  overflow: hidden;
  border-radius: 60px;
  margin: 0 0 0 0;
}
.breadcrumb{
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}
.breadcrumb a{
  margin: 0 0 0 10px;
}
.breadcrumb svg{
  width: 0.8em;
  height: 0.8em;
  margin: -2px 0 0 0;
}
.breadcrumb-item.active{
  color: #b7bff3;
}
.sub-header .breadcrumb-item+.breadcrumb-item::before{
  display: none;
}
.breadcrumb-item+.breadcrumb-item::before{
  content:"|";
}
.breadcrumb-item+.breadcrumb-item {
  padding-left: 1.5rem;
}
.breadcrumb-header{
  background-color: #f8fafb;
  margin: 24px 0 -24px 0;
  padding: 15px 0 14px 0;  
  font-size: 14px;
  color:#666666;
  text-transform: capitalize;
}
.breadcrumb-header a{
  color:#666666;
}
.breadcrumb-header .breadcrumb a {
  margin: 0 0 0 4px;
  text-transform: capitalize;
}
.breadcrumb-header .breadcrumb-item+.breadcrumb-item {
  padding-left: 0.6rem;
}
.breadcrumb-header .breadcrumb-item.active{
  color:#556ee6;
}
.breadcrumb-main .nav-link{
  padding: 0;
  border: 0 !important;
  background-color: transparent !important;
  color: #b7bff3;
}
.breadcrumb-main .nav-link.active{
  color: #ffffff;
}
.c-role span{
  font-size: 11px;
  color: #b7bff3;  
}
.c-role svg{
  width: 0.8em;
  height: 0.8em;
  margin: -2px 5px 0 5px;
}
.c-role p {
  margin: 0;
}
.modal-content{
  padding: 40px;
  border-radius: 7px !important;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.06) !important;
}
.modal-header, .modal-title{
  padding: 0;
  border-bottom: 0;
  font-size: 17px;
  font-family: "Roboto";
  color: rgb(85, 110, 230);
  font-weight: bold;
  line-height: 1.2;  
}
.modal-title{
  margin: 0 0 10px 0;
}
.modal-body {
  padding: 0;
}
.modal.fade .modal-dialog {
  transform: translate(0,100%) !important;
}
.title-section{
  margin-bottom: 20px;
}
.title-section h1{
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(73, 80, 87);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 13px 0 0 0;
}
.title-section .btn{
  text-transform: capitalize;
  margin: 0;
}
.custom-table tr{
  border-bottom: 1px solid #d6d6d6;
}
.custom-table th{
  font-size: 14px;
  color: #171717;
  padding-left: 0;
}
.custom-table td{
  padding-left: 0;
}
table td {
  font-size: 15px;
  font-weight: 400;
  color: #464646;
}
.pagination .page-item.active .page-link{
  background-color: #556ee6;
}
.custom-table .btn{
  font-size: 12px;
  font-weight: bold;
  margin: 0 0px 0px 15px;
}
.custom-table .btn:first-child{
  margin: 0 0px 0px 0px;
}
.custom-table tr td:last-child, .custom-table tr th:last-child{
  /* max-width: 202px; */
  padding-right: 0;
}
.header-section .btn-default{
  margin: 9px 0 0 0;
  text-transform: capitalize;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
.grey-bg{
  padding: 30px 30px 10px 30px;
  background: #ededed;
  margin: 0 0 20px 0;
}
.scroll-box{
  height: 300px;
  overflow-x: auto;
  padding: 0 30px 0 0px;
}
.scroll-box .ans-text{
  font-size: 15px;
  color: #526cd7;
  font-weight: bold !important;
}

::-webkit-scrollbar-track{
	border-radius: 20px;
	background-color: #ededed;
}
::-webkit-scrollbar{
	width: 16px;
  background-color: #F5F5F5;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
	border-radius: 20px;
	background-color: #556ee6;
}
.comment-container{
  background: #ededed;
  padding: 30px 40px 30px 40px;
  margin: 30px 0 0 0;
}
.white-button {
  color: #fff !important;
}
.offer-box-row{
  margin: 30px 0 0 0;
}
.offer-box-row .offer-box{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(85, 110, 230);
    border-radius: 3px;
    background-color: rgba(85, 110, 230, 0.169);
    margin: 0 0 20px 0;
    text-align: center;
    padding: 20px 20px 25px 20px;
    min-height: 144px;
}
.link-under-line {
  text-decoration: underline !important;
  color: #5772e3 !important;
}
.link-under-line:hover {
  text-decoration: underline !important;
  color: #5772e3 !important;
}
table.table a {
  color: #5772e3 !important;
  text-decoration: underline !important;
}
table.table a {
  color: #5772e3 !important;
  text-decoration: underline !important;
}
.offer-box-row .offer-box p{
    font-size: 17px;
    color: rgb(85, 110, 230);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}
.offer-box-row .offer-box p span{
  font-size: 14px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px !important;
}

.nav-tabs .nav-link {
  border-radius: .25rem !important;
}

@media (max-width: 767px){
  .comment-container {
    padding: 20px 20px 30px 20px;
    margin: 30px 0 0 0;
  }
  .text-top{
    margin: 0px 0px 1rem 0;
    padding: 0;
  }
}
