.check-sub-header {
    font-size: 1.75rem !important;
}

.check-form-row {
    align-items: center;
    align-content: center;
}

.check-form-label {
    width: 130px !important;
}
.send-button {
    background-color: #55c36e !important;
}

.cancel-button {
    background-color: #a02221 !important;
}
