.user-org-management-header {
    font-size: 1.75rem;
}
.add-new-user {
    align-items: center;
    display: inherit;
}

button.btn-danger.btn.Ripple-parent.third-action-button.z-depth-1a.suspend-btn {
    background: #993441 !important;
}
