.form-all > label {
  width: 100% !important;
}

.regularsize {
  font-size: 12px !important;
}

.md-form {
  margin: 0 !important;
}

.boardingTable {
  text-align: left !important;
}

.FixedHeightContainer{
  float:right;
  height: 150px !important;  
  padding:3px 0px 20px 3px !important;  
  border-style: solid !important;
  border-width: 2px !important;
  border-color: rgb(225, 225, 225) !important;
  border-radius: 5px;
}
.Content{
  height:140px !important;
  overflow:auto;
  background:#fff;
}
.register-box .form-control{
  margin-top: 3px;
}
.register-box .MuiSvgIcon-root{
  background: #556ee6;
  border-radius: 3px;
  padding: 2px;
  fill: #ffffff;
  margin: 0 2px 0 2px;
  width: 0.7em;
  height: 0.7em;
}
.register-box .MuiTypography-h6{
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}
.register-box .MuiPaper-elevation2{
  box-shadow: none !important;
  border-radius: 0px !important;
}
.register-box .MTableHeader-header-153{
  width: auto !important;
  padding: 8px 0 8px 0;
  text-align: left !important;
}
.register-box .MuiToolbar-regular{
  padding-left: 0 !important;
}
