.comment-fix-footer {
    position: fixed;
    width: 100%;
    background-color: white;
    /*top: 60%;*/
    bottom: 50px;
}

.comment-card-body {
    margin-bottom: 100px;
}

.comment-view {
    overflow: auto;
    height: 120px;
}

.blue-font-color {
    color: #3f93bd;
}

.comment-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.comment-view-6 {
    width: 100%;
}



