.program-table td:first-letter {
    text-transform: uppercase;
}
.sub-header {
    font-size: 1.3rem;
}
.col-md-6 {
    flex: 0 0 40%;
    max-width: 45%;
    text-align: right;
    padding-right: 5px;
}
.program-detail-sub-header div {
    padding-bottom: .5rem;
}
.program-detail-sub-header span {
    /* color: #4f9bc1; */
    /* font-weight: 100; */
    padding-left: .5rem;
}
.application-info-button {
    background-color: #2e8ab8 !important;
}
.program-info {
    padding: 30px 30px 10px;
    margin: 0 0 20px;
}
